.service {
  background-color: #e4e0e0;
  margin-top: 0;
}

.serv h1 {
  margin: 0;
  text-align: center;
  font-size: 64px;
  line-height: 76.8px;
  font-weight: 700;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(
    180deg,
    rgb(12, 5, 109) 0%,
    rgb(251, 190, 62) 100%
  );
  background-clip: text;
  color: transparent;
  font-family: "Sora", Helvetica;
}

.lint {
    position: relative;
    margin-left: 45%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}
