/* services.css */

/* Style for the .service container */
.service {
    background-color: #e4e0e0;
    padding: 50px 50px;
    
  }
  
  /* Style for the .serv h1 element */
  .serv h1 {
    margin: 0;
    text-align: center;
    font-size: 64px;
    line-height: 76.8px;
    font-weight: 700;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
    background: linear-gradient(
      180deg,
      rgb(12, 5, 109) 0%,
      rgb(251, 190, 62) 100%
    );
    background-clip: text;
    color: transparent;
    font-family: "Sora", Helvetica;
  }

  .grid {
    padding-top: 50px;
  }
  

  .grid1 {
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    grid-gap: 1px; 
  }

  
  .grid2 {
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    grid-gap: 1px; 
  }
  
  
 
  .serve {
    background-color: black; 
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    border: 1px solid #ddd; 
    color: #ffff;
  }

  .serve1 {
    background-color: blue;
    padding: 20px;
    text-align: center;
    border: 1px solid #ddd;
    color: #ffff;
    border-radius: 10px;

  }

  .serve2 {
    padding: 20px;
    text-align: center;
    border: 1px solid #ddd;
    color: #ffff;
    border-radius: 10px;

  }

  