.about_us {
  background: #000;
  margin-bottom: 0;
}

hr {
  width: 50px;
  color: rgb(41, 36, 7);
  background: gold;
}

.about_us h1 {
  border-top: 5rem;
  border-color: white;
  margin: 0;
  font-size: 64px;
  line-height: 76.8px;
  font-weight: 700;
  text-align: center;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(
    180deg,
    rgb(12, 5, 109) 0%,
    rgb(251, 190, 62) 100%
  );
  background-clip: text;
  color: transparent;
  font-family: "Sora";
}

.about_us p {
  padding: 0.5rem;
  color: #fff;
  text-align: center;
  margin: 0;
  font-size: 15px;
  font-weight: 400;
  font-family: 'poppins';
}

.about {
  padding-bottom: 0px;
}

.lin {
    margin-left: 34rem;
}

@media (max-width: 768px) {
  .about_us h1 {
    font-size: 36px;
    line-height: 48px;
  }
  .about_us p {
    font-size: 16px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .about_us h1 {
    font-size: 48px;
    line-height: 60px;
  }
  .about_us p {
    font-size: 18px;
  }
}

@media (min-width: 1025px) {
}
