.arrow-container {
    top: 65.5rem;
    position: absolute;
    bottom: 20px;
    right: 49rem;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background: linear-gradient(
      180deg,
      rgb(12, 5, 109) 0%,
      rgb(251, 190, 62) 100%
    );
    border-radius: 50%;
  }
  
  .downArrow {
    font-size: 24px;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .downArrow:hover {
    color: #fff;
  }

  @media (max-width: 500px) {
    .arrow-container {
      top: 90rem;
      width: 42px;
      height: 42px;
      bottom: 15px;
      /* left: 500rem; */
      /* right: -500rem; */
    }
  
    .downArrow {
      font-size: 30px;
    }
  }

  @media (max-width: 900px) {
    .arrow-container {
      top: 64rem;
      width: 42px;
      height: 42px;
      bottom: 15px;
      right: 24rem;
    }
  
    .downArrow {
      font-size: 30px;
    }
  }