.cont {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.con {
  margin-top: 0.5rem;
  height: 0.5rem;
  padding-bottom: 0px;
}

.conta h1 {
  color: darkblue;
  /* font-weight: bold; */
  font-size: 35px;
  font-family: "Montserrat", "Poppins";
  padding-top: 0px;
}

.line {
  width: 7rem;
  height: 7px;
  padding-top: 50px;
  margin-bottom: 1px;
}

.post {
  display: grid;
  grid-template-rows: 1fr;
  gap: 1rem;
}

.icon_office {
  color: #fff;
  width: 20px;
  height: 20px;
  /* left: 122px;
  top: 371px; */
}

.para_office {
  width: 280px;
  height: 40px;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 15px;
  /* left: 238px; */
  line-height: 28.8px;
  text-align: justify;
}

a {
  text-decoration: none;
  text-decoration-style: none;
}

.email {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.icon_email {
  color: #fff;
  width: 20px;
  height: 20px;
  /* top: 466px;
  left: 122px; */
}

.phone {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.office {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* gap: 0.5rem; */
}

.icon {
  background: linear-gradient(
    180deg,
    rgb(12, 5, 109) 0%,
    rgb(251, 190, 62) 100%
  );
  border-radius: 50%;
}
.email a {
  width: 3px;
  height: 56px;
  color: black;
  text-decoration: none;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 15px;
  line-height: 50px;
  text-align: justify;
}

.icon_phone {
  color: #fff;
  width: 20px;
  height: 20px;
  /* top: 556px;
  left: 139px; */
}

.phone a {
  color: black;
  width: 250px;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 15px;
  text-align: justify;
}

.main_text {
  font-family: "Sora";
  font-weight: 700;
  font-size: 54px;
}

.place {
  width: 700px;
  height: 280px;
  border: solid 3px;
  border-color: whitesmoke;
  border-radius: 5px;
  margin-top: 50px;
}

@media (max-width: 500px) {
  .cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .place {
    width: fit-content;
  }

  .contacts{
    height: fit-content;
    padding-bottom: 350px;
  }
}

@media (min-width: 500px) and (max-width: 960px) {
    .cont {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    
      .place {
        padding-top: 50px;
      }
}

.contacts {
    margin-bottom: 0;
    max-width: 100%;
    opacity: 0; 
    animation: fadeUp 1s ease-in-out forwards; 
  }
  
  
  @keyframes fadeUp {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
