/* .body {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
} */
.heder {
    background-color: #fff;
    font-weight: 400;
    margin: 0;
    font-family: "Poppins", Helvetica;
}

.head {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}

.head .a {
    text-decoration: none;
    text-decoration-style: none;
    font-family: "Sora", Helvetica;
}

.logo {
    margin-left: 6.5rem;
    align-items: center;
    border-radius: 1rem;
    position: relative;
    margin-bottom: 0;
}

.nav1 {
    background-color: darkblue;
    height: 5rem;
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
    z-index: 99;
}
.nav2 {
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 3rem;
    margin-right: 13.5rem;
    position: relative;
    margin-bottom: 0;
}
.nav2 a.active {
    color: #fff;
    
}

.nav2 a {
    text-decoration: none;
    text-decoration-style: none;
    color: white; 
}

.nav2 a:hover {
    color: rgb(243, 220, 12)

  }
.text1 {
    font-family: "Poppins", Helvetica;
    text-decoration: none;
    text-decoration-style: none;
    color: black;
}