.footer {
  /* margin: 0;
  padding: 0; */
  /* width: 100%; */
  background: #0c056d;
  opacity: 0;
  animation: fadeOut 1s ease-in-out forwards;
}

.match_footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
  line-height: 6rem;
  margin-top: 25rem;
  /* padding-left: 120px; */
}

.match_footer p {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
  color: #fff;
  font-family: "Sora";
  font-weight: 400;
  font-size: 20px;
  /* line-height: 3rem; */
  /* padding-right: 60px; */
}

.olas {
  border-radius: 25%;
  /* padding-right: 340px; */
}

.match_footer img {
  margin-left: 8rem;
}

.match_footer p {
  margin-right: 8rem;
}

/* .legging {
  margin-right: 120px;
  
} */

@media (max-width: 500px) {
  .match_footer {
    /* width: 200rem; */
    padding: 0;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 40rem;
    font-weight: 400;
    font-size: 0;
    height: 6rem;
    /* line-height: 6rem; */
    margin-top: 25rem;
}

  .match_footer {
    /* display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; */
    /* height: 6rem;
    line-height: 6rem; */
    /* margin-top: 50rem; */
    /* padding-left: 120px; */
  }

  .match_footer img {
    margin-left: 0;
    font-size: 0;
    padding: 0;
  }

  .footer p {
    margin-right: 0;
    font-size: 1rem;
    padding: 0;
  }

  /* .footer p {
    margin-right: 0;
  } */

  /* .legging {
    padding-right: 0;
  } */

  /* .footer {
    height: fit-content;
    width: fit-content;
  }
  .olas {
    padding-left: 0;
  } */
} 

@media (max-width: 900px) {
  .match_footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 6rem;
    line-height: 6rem;
    margin-top: 25rem;
    /* padding-left: 120px; */
  }

  .match_footer img {
    margin-left: 2rem;
  }

  .footer p {
    margin-right: 2rem;
  }
  /* .legging {
    padding-right: 1.5rem;
  }

  .olas {
    padding-left: 1.5rem;
  } */

  /* .footer {
    height: fit-content;
    width: fit-content;
  } */
}

@keyframes fadeOut {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
