.footer {
  margin: 0;
  padding: 0;
  width: 100%;
}

.match_footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #0c056d;
  align-items: center;
  height: 6rem;
  margin-top: 25rem;
  /* gap: 20rem; */
  padding-left: 40px;
}

.match_footer p {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
  color: #fff;
  font-family: "Sora";
  font-weight: 400;
  font-size: 0.5rem;
  line-height: 3rem;
  padding-right: 60px;
}

.olas {
  border-radius: 25%;
  padding-right: 340px;
}

@media (min-width: 500px) {
  .match_footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #0c056d;
    align-items: center;
    height: 6rem;
    margin-top: 25rem;
    /* gap: 37rem; */
  }

  .footer {
    height: fit-content;
  }
}

.footer {
  margin-bottom: 0;
  max-width: 100%;
  opacity: 0;
  animation: fadeOut 1s ease-in-out forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
